*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
h1{
    background-color: grey;
    font-size: 150px;
    padding: .5% 30%;
    
}
body>p{
    font-size:120px;
    margin-left: 25%;
    margin-top: 1%;
}

#guess{
    font-size: 250px;
    margin: 1% 34%;
}
form{
    display: flex;
    flex-direction: column;
}
.guessField{
    width: 20%;
    height: 150px;
    margin: 0% 39%;
    border: grey 20px solid;
    font-size: 120px;
}
#subt{
    width: 17%;
    height: 200px;
    margin: 3% 40%;
    background-color: black;
    color: white;
    font-size: 100px;
    padding: 1.% 0%;
    border: black solid;
    border-radius: 50px;
}
#resultParas p{
    font-size: 100px;
    margin: 1% 41%;
}
